.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__heading {
    display: flex;
    align-items: center;

    :first-child {
      font-family: "Rubik", sans-serif;
      font-size: 1.625rem;
      line-height: 2rem;
      margin-right: 16px;
    }
  }

  i {
    transition: transform 1s ease;
  }

  i.animated {
    transform: rotateX(180deg);
  }
}
