// Primary colors
$bg-green: #3d715b;
$interactive-green: #35df98;
$interactive-orange: #ed712e;
$light-green: #d2eae5;
$transparent-yellow: rgba(253, 204, 79, 0.3);
$white: #fff;
$black: #000;
$grade-bg: #4a705c;
$dark-white-bg: #f2f2f2;

// Text colors
$yellow-span: #fdcc4f;
$content: #474747;
